<!DOCTYPE html>
<style>
  form {
    width: 1000px;
    overflow-wrap: break-word
  }
</style>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/choco/<%= choc._id %>?_method=PUT" method="post">
            <article>
              <h3>
              <legend>Edit <%= choc.Manuf %></legend>
            <label>
              <span style="color:burlywood">Manufacturer:<br></span><input
                type="text"
                name="Manuf"
                value="<%= choc.Manuf %>"
              />
            </label><br>
            <label>
              <span style="color:burlywood">Name:<br></span><input
                type="text"
                name="Name"
                value="<%= choc.Name %>"
              />
            </label><br>
            <label>
              <span style="color:burlywood">Cocoa Content:<br></span><input
                type="text"
                name="CocoaCont"
                value="<%= choc.CocoaCont %>"
                />
              </label><br>
              <label>
                <span style="color:burlywood">Flavor:<br></span><input
                type="text"
                name="Flavor"
                value="<%= choc.Flavor %>"
                />
              </label><br>
              <label>
                  <span style="color:burlywood">Description:<br></span><textarea
                type="text"
                name="Description"
                size="80"
                wrap="hard"
                value=>"<%= choc.Description %>"
              </textarea>
              </label><br>
              </h3>
              </article>
              <br>
          <input type="submit" value="Update this chocolate" /><br>
          <a href="/choco/"><button>Back to Main</button></a>
        </form>
      </div>
    </main>
  </body>
</html>