<!DOCTYPE html>
<style>
button {
  border-radius: 8px;
}

button:hover {
color: white;
background-color: black;
transition: .2s;
  }
</style>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs") %>
  <main>
      
       
  <a href="/choco/new"><button>The World Needs more Chocolate, Create One Here</button></a>

  <a href="/user/logout"><button>Logout</button></a>
 
  <div class = "cards">
    <% for (choc of choco) { %>
      <div class = "card">
      <article>
        <a href="/choco/<%= choc._id %>">
          <h2><%= choc.Manuf %>: <br> </h2>
          <h3><%= choc.Name %></h3>
        </a>
      </article>
      </div>
        <% } %>
  </div>
    </main>
  </body>
</html>