<!DOCTYPE html>
<style>

</style>
<html lang="en">
    <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs") %>
  <main>
      
   <div class="button-box">   
  <a href="/choco/new"><button>The World Needs more Chocolate, Create One Here</button></a>

  <a href="/user/logout"><button>Logout</button></a>
</div> 
  <div class = "cards">
    <% for (choc of choco) { %>
      <div class = "card">

        <a href="/choco/<%= choc._id %>">
          <h2><%= choc.Manuf %>: <br> </h2>
          <h3><%= choc.Name %></h3>
        </a>

      </div>
        <% } %>
  </div>
    </main>
  </body>
</html>