<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <a href="/choco/new"><button>The World Needs more Chocolate, Create One Here</button></a>

 

        <% for (choc of choco) { %>

        <article>
          <a href="/choco/<%= choc._id %>">
            <h2>
              <%= choc.Manuf %> - <%= choc.Name %>
            </h2>
          </a>
        </article>

        <% } %>
      </div>
    </main>
  </body>
</html>